<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create Chicken</h3>
  
      <div class="form-group">
        <h6>Chicken Name</h6>
        <input type="text" [(ngModel)]="chickenDetails.name" class="form-control" placeholder="Name" required>
      </div>
  
      <!--
      <div class="form-group">
        <h6>Farm ID</h6>
        <input type="number" [(ngModel)]="chickenDetails.farmId" class="form-control" placeholder="Farm ID" required>
      </div>
      -->
      
      <div class="form-group">
        <div *ngIf="Farms.length !== 0">
            <select [(ngModel)]="chickenDetails.farmId" class="form-group form-control ng-untouched ng-pristine ng-valid" placeholder="Farm ID" required>
              <option *ngFor="let farm of Farms" [value]="farm.id">
                {{farm.name}}
              </option>
            </select>
        </div>
      </div>

      <div class="form-group">
        <h6>Join Date</h6>
        <input type="date" [(ngModel)]="chickenDetails.joinDate" class="form-control" placeholder="Join Date">
      </div>
  
      <!--
      <div class="form-group">
        <input type="" [(ngModel)]="chickenDetails.joinDate" class="form-control" placeholder="Join Date">
      </div>
      -->

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addChicken()">Add Chicken!</button>
      </div>
  
    </div>
  </div>